{% extends 'base.html' %}

{% block title %}Skills-HTML-CSS-Ubermelon-Careers{% endblock %}

{% block body %}

<h1>Building at Ubermelon</h1>

  <p>No global movement springs from individuals. It takes an entire team united behind something big. Together, we work hard, we laugh a lot, we brainstorm nonstop, we use hundreds of Post-Its a week, and we give the best high-fives in town.</p>

  <form action="/application-response" method="POST">

    <label for="name">First Name: </label>
    <input class="name" type="text" name="firstname">
    <br>
    <br>

    <label for="name">Last Name: </label>
    <input class="name" type="text" name="lastname">
    <br>
    <br>

    <label for="name">Salary: </label>
    <input class="name" type="number" name="salaryrequirement">
    <br>
    <br>

    <label for="position">Choose an Open Position: </label>
    <select id="position" name="openpositions">
      <option value="Software Engineer">Software Engineer</option>
      <option value="QA Engineer">QA Engineer</option>
      <option value="Product Manager">Product Manager</option>
    </select>
    <br>
    <br>

    <input class="button" type="submit" name="submit" value="Submit">
    <input class="button" type="reset" name="reset" value="Reset">
  </form>

  {% endblock %}



<!-- 
<!doctype html>
<html>
<head>
  <title>Skills-HTML-CSS-Ubermelon-Careers</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <h1>Building at Ubermelon</h1>

  <p>No global movement springs from individuals. It takes an entire team united behind something big. Together, we work hard, we laugh a lot, we brainstorm nonstop, we use hundreds of Post-Its a week, and we give the best high-fives in town.</p>

  <form action="/application-response" method="POST">

    <label for="name">First Name: </label>
    <input class="name" type="text" name="firstname">
    <br>
    <br>

    <label for="name">Last Name: </label>
    <input class="name" type="text" name="lastname">
    <br>
    <br>

    <label for="name">Salary: </label>
    <input class="name" type="number" name="salaryrequirement">
    <br>
    <br>

    <label for="position">Choose an Open Position: </label>
    <select id="position" name="openpositions">
      <option value="Software Engineer">Software Engineer</option>
      <option value="QA Engineer">QA Engineer</option>
      <option value="Product Manager">Product Manager</option>
    </select>
    <br>
    <br>

    <input class="button" type="submit" name="submit" value="Submit">
    <input class="button" type="reset" name="reset" value="Reset">
  </form>

</body>
</html> -->