{% extends 'base.html' %}

{% block title %}Application Response{% endblock %}

{% block body %}

<h1>Thank you for applying!</h1>

<p>Thank you, {{ firstname }} {{ lastname }}, for applying to be a {{ openpositions }}. Your minimum salary requirement is {{ salaryrequirement }} dollars.</p>

{% endblock %}




<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Application Response</title>
</head>
<body> 

  <p> Thank you, {{ firstname }} {{ lastname }}, for applying to be a {{ openpositions }}. Your minimum salary requirement is {{ salaryrequirement }} dollars. </p>
  
</body>
</html> -->